:root
{
    --color-1: #165b33;
    --color-2: #146b3a;
    --color-3: #f8b229;
    --color-4: #bb2528;
    --color-5: #ffffff;
    --color-6: #000000;
} 




body
{
    background-color: var(--color-5);
}

h1
{
    font-family: 'Josefin Sans', sans-serif;
    color: var(--color-1);
    text-align: center;
    font-size: 60px;
}

article
{
    background-color: var(--color-5);
}


